apiVersion: batch/v1
kind: Job
metadata:
  name: {{.JobName}}
  lables:
    jhub: notebookTester
    jhubUser: {{.UserId}}
    jhubRequestId: {{.RequestId}}
spec:
  template:
    spec:
      ttlSecondsAfterFinished: 300
      containers:
        - name: {{.JobName}}
          image: {{.Image}}
          imagePullPolicy: Always
          command: ["/bin/bash", "/home/jovyan/bin/runPyscript.sh"]
          env:
            - name: REQUEST_ID
              value: {{.RequestId}}
          volumeMounts:
            - name: config
              mountPath: "/home/jovyan/config"
              readOnly: true
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 100m
              memory: 1Gi
      restartPolicy: OnFailure
      volumes:
        - name: config
          configMap:
            name: {{.PyScriptHash}}
  backoffLimit: 1
